/* Box sizing */

* {
    margin: 0; /* clearing margin and padding from page */
    padding: 0;
    box-sizing: border-box;
}

/* Background */

body {
    display: flex; /* layout boxes for page */
    flex-direction: column; /* making divs stack on top eachother */
    min-height: 100vh; /* need this so sticky footer stays down when body content is too small */
    background-image: url(../images/folk-pattern/folk-pattern/folk-pattern.png); /* background image used  */
    background-color: #ffffff; /* if image doesnt appear */
}


/* portfolio gallery boxes */

.box {
    background-size: 100%; /* creating gallery back size */
    height: 200px; /* gallery image height */
    width: 250px; /* gallery image width */
    margin: 15px; /* creating space between image boxes */ 
    display: inline-block; 
    cursor: pointer; /* on hover cursor link */
}

/* contact page submit button */

button {
    background-color: #4aaaa5; /* logo background color */
    color: #cccccc; /* logo text color */
    margin-top: 10px; /* spacing buttom from contact form */
    padding: 10px 30px; /* making button larger width */
    border: 0; /* removing button border */
}

/* footer bar */

.footer {
    margin-top: 50px; /* adding a buffer space to content and footer */
    padding: 15px; /* making the background a bit bigger */
    border-top: 8px solid #4aaaa5; /* background color of top border footer */
    background-color: #666666; /* background color main footer */
    text-align: center; /* aligns copyright */
    font-size: 10px; /* text size */
}

/* hangman game image portfolio gallery */

.hang {
    background-image: url(../images/hangman.png);
}

/* all h1 headings for about/portflio/contact */

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif; /* heading font */
    color: #4aaaa5; /* heading font color */ 
    padding-bottom: 10px; /* space before the border across section under h1 tags */
    border-bottom: 2px solid #777777; /* border for header of section between content */
}

/* main header bar background&text including the logo & nav bar */

header {
    background-color: #ffffff; /* background color of header */ 
    margin-bottom: 50px; /* adding space from header to main wrapper */
    border-bottom: 2px solid #cccccc; /* border only on bottom */
}

/* CONTACT boxes */

input[type=text], /* adjusting box sizes of first last message */
textarea {
    width:100%; /* extending text box width of content box */
    line-height: 2; /* text box sizing */
}

/* nav bar */

li, a {

    font-family: Arial, Helvetica, sans-serif; /* nav link font */
    color: #777777; /* nav link text color */
    font-size: 16px; /* nav link text size */
    text-decoration: none; /* removing link underline */
    display: inline-block; /* layout for links horizontal */
    padding: 0px 10px; /* space between each link */

}

/* adding right boards to the nav links so there is a bar between */

li:nth-child(1), li:nth-child(2) { /* selecting only about and portfolio nav links */
    border-right: 1px solid #cccccc;
}


/* My name name top of page */

.logo {
    padding: 13px 30px 12px; /* sizing logo background */
    background-color: #4aaaa5; /* background color */
    color: #ffffff; /* logo text color */
    font-size: 30px; /* logo text size */
}

/* Main content wrapper for prof/index/contact */

.mainWrapper {
    position: relative;
    overflow: auto; /* to adjust for content in each pages wrapper*/
    width: 960px; /* setting main content area size */
    margin: auto; /* centering main content area */
    padding: 20px; /* adding space around text before border of conent area */
    border: 1px solid #777777; /* content border styling */ 
    background-color: #ffffff; /* content area background */
    color: #777777; /* all font except h1 tags styling for font, color, line height */
    font-family: Arial, Helvetica, sans-serif; /* text styling in all main content not h1, header, footer */
    font-size: 18px;
    line-height: 1.5;
}

/* spacing for nav bar */

.navbar {
    display: flex; /* flex box for nav bar */
    justify-content: space-between; /* space between logo and nav links */
    width: 960px;    /* setting width to align items with main content width */
    margin: auto; /* centering the nav bar so that equal margins around width */
}

/* list style not really sure why this is here, was from tutorial and in the inspect doesnt change when removed 
    ??? maybe remove??*/

.navLinks {
    list-style: none; 
    padding-top: 15px; /* drops the links down from living at top of nav bar */
}

/* profile picture */

.profPic {
    height: 200px; /* main profile image */
    width: 180px;
    float: left; /* floating left of text in main bio section */
    margin: 0 10px 10px; /* adding space between image and text */
}

/* RPG Game Image portfolio gallery */

.rpg {
    background: url(../images/RPG.jpg);
}
/* rock papper scissors game image portfolio gallery*/

.rock {
    background-image: url(../images/rock.jpg);
}

/* text/title of images in portfolio galler */

.title {
    background-color: #4aaaa5; /* background color for the line of text across image */
    text-align: center; /* aligning in center of photo */
    position: relative; 
    margin-top: 150px; /* moved bar down to bottom of image */
    padding: 10px; /*  space so the background color is a bit larger*/
}

/* Trivia game image portfolio gallery */

.trivia {
    background-image: url(../images/trivia.jpg);
}

/* widget image portfolio gallery */

.widget {
    background-image: url(../images/widget.jpg);
}